mat-form-field{
  width: 100%;
}

.editor{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

mat-spinner{
  margin: auto;
}

.buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}