<div class="editor">
    <form>
      <mat-form-field>
        <input matInput placeholder="Name" type="text" [(ngModel)]="list.name" name="name">
      </mat-form-field>
  
      <mat-slide-toggle [(ngModel)]="list.back" name="back">
        Zurück
      </mat-slide-toggle>
    </form>
    <div class="buttons" style="margin-top: 10px;">
      <button mat-button style="background: #10be10; color: white;" (click)="createList()">Liste erstellen</button>
    </div>
  </div>