<div class="editor" *ngIf="item">
  <form>
    <mat-form-field>
      <input matInput placeholder="Name" type="text" [(ngModel)]="item.name" name="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="QR Code" type="text" [(ngModel)]="item.qrcode" name="qrcode">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Kommentar" type="text" [(ngModel)]="item.comment" name="comment">
    </mat-form-field>

    <mat-slide-toggle [(ngModel)]="item.outside" name="outside">
      Draußen
    </mat-slide-toggle>

    <mat-slide-toggle [(ngModel)]="item.isChest" name="isChest">
      Truhe
    </mat-slide-toggle>
  </form>
  <div class="buttons" style="margin-top: 10px;">
    <button mat-button style="background: #10be10; color: white;" (click)="saveItem()">Speichern</button>
    <button mat-button style="background: red; color: #FFF;margin-left: auto; margin-right: 0px;" (click)="deleteItem()">Löschen</button>
  </div>
</div>

<div class="editor" *ngIf="!item">
  <mat-spinner></mat-spinner>
</div>