<div class="lager">

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="items" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let item" style="vertical-align: middle;">
        <div style="display: flex; flex-direction: row; align-items: center;"> <i class="material-icons"
            style="font-size: 21px; display: block; padding-right: 15px" *ngIf="item.isChest">
            archive
          </i> <span style="display: block;">{{item.name}} </span></div>
      </td>
    </ng-container>
    <ng-container matColumnDef="qrcode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> QRCode </th>
      <td mat-cell *matCellDef="let item"> {{item.qrcode}} </td>
    </ng-container>
    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Kommentar </th>
      <td mat-cell *matCellDef="let item">
        <span *ngIf="item.comment"> {{item.comment}} </span>
        <span *ngIf="!item.comment"> - </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="amountTotal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Anzahl auf Lager </th>
      <td mat-cell *matCellDef="let item"> 
        <span *ngIf="item.amountTotal"> {{item.amount}} / {{item.amountTotal}}</span>
        <span *ngIf="!item.amountTotal"> - </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="outside">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Draußen </th>
      <td mat-cell *matCellDef="let item">
        <div *ngIf="item.amountTotal">
          <i class="material-icons" *ngIf="item.amountTotal !== item.amount">check</i>
          <i class="material-icons" *ngIf="item.amountTotal === item.amount">close</i>
        </div>
        <div *ngIf="!item.amountTotal">
          <i class="material-icons" *ngIf="item.outside">check</i>
          <i class="material-icons" *ngIf="!item.outside">close</i>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Aktionen </th>
      <td mat-cell *matCellDef="let item">
        <a mat-icon-button [routerLink]="['/items', item.id]" *ngIf="!item.amountTotal"> <i
            class="material-icons">edit</i></a>
        <a mat-icon-button [routerLink]="['/cables', item.id]" *ngIf="item.amountTotal"> <i
            class="material-icons">edit</i></a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" [pageSize]="10"></mat-paginator>
</div>