<nav class="navbar navbar-expand navbar-dark" style="background-color: #e91e63; box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link" [routerLink]="[ '/lager']" routerLinkActive="active">Lager</a>
        <a class="nav-item nav-link" [routerLink]="[ '/lists']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Listen</a>
        <a class="nav-item nav-link" [routerLink]="['items/new']" routerLinkActive="active">Neues Gerät </a>
        <a class="nav-item nav-link" [routerLink]="['cables/new']" routerLinkActive="active">Neuer Kabeltyp </a>
        <a class="nav-item nav-link" [routerLink]="['lists/new']" routerLinkActive="active">Neue Liste </a>
    </div>
</nav>

<div class="router" mat-app-background>
  <router-outlet></router-outlet>
</div>