<div class="list">
  <mat-form-field>
    <mat-label>Liste</mat-label>
    <mat-select [(ngModel)]="list.id" *ngIf="list">
      <mat-option *ngFor="let list of lists" [value]="list.id" [routerLink]="[ '/lists', list.id ]">
        {{list.name}}
      </mat-option>
    </mat-select>
    
    <mat-select *ngIf="!list">
      <mat-option *ngFor="let list of lists" [value]="list.id" [routerLink]="[ '/lists', list.id ]">
        {{list.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button *ngIf="list" style="background: red; color: white" (click)="deleteList()">Löschen</button>
</div>
<div class="list-table" *ngIf="list">
    <table mat-table [dataSource]="displayList" matSort>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let item" style="vertical-align: middle;">
            <div style="display: flex; flex-direction: row; align-items: center;"> <i class="material-icons"
                style="font-size: 21px; display: block; padding-right: 15px" *ngIf="item.isChest">
                archive
              </i> <span style="display: block;">{{item.name}} </span></div>
          </td>
        </ng-container>
        <ng-container matColumnDef="qrcode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> QRCode </th>
          <td mat-cell *matCellDef="let item"> {{item.qrcode}} </td>
        </ng-container>
        <ng-container matColumnDef="comment">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Kommentar </th>
          <td mat-cell *matCellDef="let item">
            <span *ngIf="item.comment"> {{item.comment}} </span>
            <span *ngIf="!item.comment"> - </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="amountTotal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Anzahl</th>
          <td mat-cell *matCellDef="let item"> 
            <span *ngIf="item.amount"> {{item.amount}}</span>
            <span *ngIf="!item.amount"> - </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="outside">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Draußen </th>
          <td mat-cell *matCellDef="let item">
            <div *ngIf="item.amount">
              <i class="material-icons" *ngIf="item.amount">check</i>
              <i class="material-icons" *ngIf="!item.amount">close</i>
            </div>
            <div *ngIf="!item.amount">
              <i class="material-icons" *ngIf="item.outside">check</i>
              <i class="material-icons" *ngIf="!item.outside">close</i>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Aktionen </th>
          <td mat-cell *matCellDef="let item">
            <a mat-icon-button> <i class="material-icons" (click)="removeItemFromList(item)">delete</i></a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      </table>
</div>