<div class="editor">
  <form>
    <mat-form-field>
      <input matInput placeholder="Name" type="text" [(ngModel)]="item.name" name="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="QR Code" type="text" [(ngModel)]="item.qrcode" name="qrcode">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Kommentar" type="text" [(ngModel)]="item.comment" name="comment">
    </mat-form-field>

    <mat-slide-toggle [(ngModel)]="item.outside" name="outside">
      Draußen
    </mat-slide-toggle>

    <mat-slide-toggle [(ngModel)]="item.isChest" name="isChest">
      Truhe
    </mat-slide-toggle>
  </form>
  <div class="buttons" style="margin-top: 10px;">
    <button mat-button style="background: #10be10; color: white;" (click)="createItem()">Anlegen</button>
  </div>
</div>