<div class="editor">
  <form>
    <mat-form-field>
      <input matInput placeholder="Name" type="text" [(ngModel)]="cable.name" name="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="QR Code" type="text" [(ngModel)]="cable.qrcode" name="qrcode">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Anzahl Insgesamt" type="number" [(ngModel)]="cable.amountTotal" min=1 name="amount">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Anzahl auf Lager" type="number" [(ngModel)]="cable.amount" min=0 [max]="cable.amountTotal" name="amount">
    </mat-form-field>

  </form>
  <div class="buttons" style="margin-top: 10px;">
    <button mat-button style="background: #10be10; color: white;" (click)="saveCable()">Speichern</button>
    <button mat-button style="background: red; color: #FFF;margin-left: auto; margin-right: 0px;" (click)="deleteCable()">Löschen</button>
  </div>
</div>